/* BODY */
body,
html {
  background-color: darkgreen;
  font-family: Verdana, Tahoma, sans-serif;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  padding: 0;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.slogan {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 40px;
}

.list-unordered {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  font-size: 14px;
}

.welcome {
  background-color: beige;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 4px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}

.container {
  height: 88%;
}

/* MEDIA SCREENS */
@media screen and (max-width: 900px) {
  .dashboard-user {
    display: block;
  }

  .header {
    height: auto;
    margin-bottom: 1rem;
  }

  .welcome-spending {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  div {
    align-items: flex-end;
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  .slogan {
    align-items: center;
    justify-content: center;
  }

  .welcome {
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: 80%;
  }
}

@media screen and (max-width: 390px) {
  .header {
    margin-bottom: 1rem;
  }

  .welcome-spending div {
    align-items: center;
    flex-direction: column;
  }
} 

/* LOGIN PAGE */
.login {
  align-items: center;
  display: flex;
  justify-content: center;

}

h2 {
  text-shadow: 3px 3px 3px black;
}

.login-main {
  align-items: center;
  background-color: beige;
  border-radius: 1rem;
  box-shadow: 4px 4px 6px 1px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 80vw;
}

.login-body {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.login-form {
  align-items: center;
  background-color: darkgreen;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px 1px dimgray;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  margin: 2rem;
  width: 15rem;
}

input {
  font-size: 18px;
  height: 25px;
}

.line {
  background-color: linen;
  height: 90%;
  width: 1px;
}

@media screen and (max-width: 768px) {
  .login-main {
    margin-top: 1rem;
    height: auto;
    width: auto;
  }

  .line {
    height: 1px;
    width: 90%;
  }

  .login-body {
    flex-direction: column;
    justify-content: center;
  }

  .login-form {
    height: 12rem;
    width: 20rem;
  }
}

@media screen and (max-width: 445px) {
  .login-form {
    height: 13rem;
    width: 15rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    height: 85%;
  }

  .login {
    height: 100%;
  }

  .login-body {
    padding: 0 0.5rem 0 0.5rem;
  }

  .login-form {
    margin: 1rem;
  }

  input {
    max-width: 10rem;
  }
}

/* TRAVELER PAGE */
.dashboard-user {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "welcomeUser planningUser planningUser planningUser"
    "tripsUser tripsUser tripsUser tripsUser";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;
}

#welcome-user {
  grid-area: welcomeUser;
}

#planning-user {
  grid-area: planningUser;
}

#trip-user {
  grid-area: tripsUser;
}

/* AGENT PAGE */
.traveler-header {
  text-align: center;
  padding-bottom: 1rem;
}

.traveler-cards,
.pending-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.button-approve {
  margin-top: 0.6rem;
}

.button-delete {
  margin: 0.2rem 0;
}

.dashboard-agent {
  grid-template-areas:
    "welcomeAgent planningAgent planningAgent planningAgent"
    "tripsAgent planningAgent planningAgent planningAgent"
    "tripsAgent planningAgent planningAgent planningAgent";
  height: 100%;
}

.planning-agent {
  align-items: center;
  justify-content: flex-start;
  max-height: none;
  width: 90%;
}

.traveler-form {
  display: none;
}

.traveler-search {
  margin-top: 0.5rem;
  text-align: center;
  height: 20px;
  width: 200px;
}

.traveler-search-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.user-card {
  min-width: 160px;
}

.welcome h3 {
  text-decoration: underline;
}

#pending-message {
  display: none;
}

#welcome-agent {
  grid-area: welcomeAgent;
}

#planning-agent {
  grid-area: planningAgent;
}

#pending-article {
  grid-area: tripsAgent;
}

#server-error {
  display: none;
  margin-top: 1rem;
}


/* MEDIA SCREENS */
@media screen and (max-width: 910px) {
  .dashboard-agent {
    grid-template-areas:
      "welcomeAgent welcomeAgent welcomeAgent"
      "tripsAgent planningAgent planningAgent"
      "tripsAgent planningAgent planningAgent";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr;
  }
}

@media screen and (max-width: 710px) {
  .dashboard-agent {
    grid-template-areas:
      "welcomeAgent welcomeAgent"
      "tripsAgent planningAgent"
      "tripsAgent planningAgent";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    margin: 0.4rem;
  }

  .agent--body h2 {
    display: none;
  }

  .dashboard-agent {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .display-trips .agent-body:not(.trips) {
    display: none !important;
  }

  .display-travelers .agent-body:not(.travelers) {
    display: none !important;
  }

  .pending-article,
  .planning-agent {
    background-color: darkgreen;
    padding-top: 4rem;
    overflow-y: auto;
    width: 90%;
  }

  .trip-card {
    max-width: 270px;
  }

  .traveler-form-container {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .traveler-form {
    top: 1rem;
    width: 100%;
  }

  .welcome {
    margin: 0 auto;
    width: 90%;
  }
}

.hidden {
  display: none;
}
