body,
html {
  background-color: darkgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  padding: 0;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.slogan {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 40px;
}

.list-unordered {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  font-size: 14px;
}

.welcome {
  background-color: beige;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 4px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}

.container {
  height: 88%;
}

.dashboard-user {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "welcomeUser planningUser planningUser planningUser"
    "tripsUser tripsUser tripsUser tripsUser";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;
}

#welcome-user {
  grid-area: welcomeUser;
}

#planning-user {
  grid-area: planningUser;
}

#trip-user {
  grid-area: tripsUser;
}

/* MEDIA SCREENS */
@media screen and (max-width: 900px) {
  .dashboard-user {
    display: block;
  }

  .header {
    height: auto;
    margin-bottom: 1rem;
  }

  .welcome-spending {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  div {
    align-items: flex-end;
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  .slogan {
    align-items: center;
    justify-content: center;
  }

  .welcome {
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: 80%;
  }
}

@media screen and (max-width: 390px) {
  .header {
    margin-bottom: 1rem;
  }

  .welcome-spending div {
    align-items: center;
    flex-direction: column;
  }
} 

/* LOGIN PAGE */
.login {
  align-items: center;
  display: flex;
  justify-content: center;

}

h2 {
  text-shadow: 3px 3px 3px black;
}

.login-main {
  align-items: center;
  background-color: beige;
  border-radius: 1rem;
  box-shadow: 4px 4px 6px 1px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 80vw;
}

.login-body {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.login-form {
  align-items: center;
  background-color: darkgreen;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px 1px dimgray;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  margin: 2rem;
  width: 15rem;

}

input {
  font-size: 18px;
  height: 25px;
}

.line {
  background-color: linen;
  height: 90%;
  width: 1px;
}

@media screen and (max-width: 768px) {
  .login--main {
    margin-top: 1rem;
    height: auto;
    width: auto;
  }

  .line {
    height: 1px;
    width: 90%;
  }

  .login--body {
    flex-direction: column;
    justify-content: center;
  }

  .login--form {
    height: 12rem;
    width: 20rem;
  }
}

@media screen and (max-width: 445px) {
  .login--form {
    height: 13rem;
    width: 15rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    height: 85%;
  }

  .login {
    height: 100%;
  }

  .login--body {
    padding: 0 0.5rem 0 0.5rem;
  }

  .login--form {
    margin: 1rem;
  }

  input {
    max-width: 10rem;
  }
}

/* TRAVELER PAGE */


/* AGENT PAGE */


